.sidebar-component{
    float: left;
    height: 100vh;
    width: 70px;
    background-color: black;
    position: relative;
    ul{
        list-style: none;
    }

    .options{
        width: 65px;
        height: 100%;
        .option{
            margin:  20px;
            color: coral;
        }
    }
}