.sidebar-component{
    float: left;
    height: 100%;
    width: 70px;
    background-color: #111;
    border-right: 2px grey solid;
    ul{
        list-style: none;
    }
    img{
        border-radius: 50%;
    }
    .options{
        width: 70px;
        height: 100%;

        .option{
            margin: 18px;
        }
    }
}