.sidebar-component{
    float: left;
    height: 100%;
    width: 70px;
    background-color: #111;
    border-right: 2px grey solid;
    ul{
        list-style: none;
    }

    .options{
        width: 65px;
        height: 100%;
        .option{
            margin:  20px;
            color: coral;
        }
    }
}