.team-area{
    border: 1.3px grey solid;
    margin: auto;
    padding: 20px;
    width: 588px;
    height: 140px;
    -webkit-box-shadow: -1px 10px 20px -7px rgba(222,42,42,1);
    -moz-box-shadow: -1px 10px 20px -7px rgba(222,42,42,1);
    box-shadow: -1px 10px 20px -7px rgba(222,42,42,1);
    border-radius: 10px;
    .team-title{
       display: flex;
       margin-bottom: 8px;
    }
    .team-details{
        padding: 20px;
        margin: 0 auto;  
    }
    
}
