.toggle{
    height:70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 510px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    &:hover{
        height: 72px;
        width: 72px;
    }

    .initial{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 9.5px;
        top: 9px;
        &:hover{
            width: 52px;
            height: 52px;
        }
    }

}

.menu{
    background-color: crimson;
    width: 80px;
    height: 80px;
    transform: scale(3.5);
    border-radius: 50%;
    position: absolute;
    margin-top: 510px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -9999;
    .circular{
        display: inline-block;
        position: absolute;
        &:nth-child(1){
           top: 12px;
           right: 10px;
        }
        &:nth-child(2){
            top: 28px;
            right: 4px;
        }
        &:nth-child(3){
            top: 44.5px;
            right: 5px;
        }
        &:nth-child(5){
            top: 60px; 
            right: 15px;  
        }
    }
}