.menu-area{
    -webkit-box-shadow: -1px 10px 20px -7px rgba(222,42,42,1);
    -moz-box-shadow: -1px 10px 20px -7px rgba(222,42,42,1);
    box-shadow: -1px 10px 20px -7px rgba(222,42,42,1);
    border: 1.3px grey solid;
    margin: auto;
    padding: 20px;
    width: 264px;
    border-radius: 10px;
    .menu-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }
    
}
